.spyproject
__pycache__
docs/build
dist
*.hdf5
paper/draft/*
!paper/draft/ms.tex
!paper/draft/Makefile
paper/figures/*
!paper/figures/illustration
!paper/figures/non-nested.p*
!paper/figures/bounds.p*
